@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
}

:root {
  --primary: #19a7ce;
  --secondary: #146c94;
  --alternatif: #afd3e2;
}

.auth {
  color: var(--primary);
}

.image-pseudo {
  background-color: #f6f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#toggle-icon,
#toggle-icon-confirm {
  cursor: pointer;
}

.link-text {
  text-decoration: none;
  color: var(--secondary);
}

.button-auth {
  border-radius: 9px !important;
  background-color: var(--primary) !important;
  border: none !important;
  box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.4);
}

.button-auth:hover {
  background-color: var(--secondary) !important;
}

.inputs {
  border-radius: 8px !important;
  background: #f0efff !important;
  border: none !important;
}

.checkbox-auth {
  z-index: 100 !important;
}

#password,
#confirmed {
  border-radius: 8px 0px 0px 8px !important;
}

#toggle-password,
#toggle-password-confirm {
  background: #f0efff !important;
  border: none !important;
  border-radius: 0px 8px 8px 0px !important;
  height: 2.3rem;
}

@media (max-width: 1024px) {
  .image-pseudo::before {
    display: none;
  }

  .form {
    margin-top: 20%;
  }
}

.text-wrapper h2 {
  color: var(--primary);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-wrapper p {
  color: var(--primary);
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.image-pseudo::before {
  content: "";
  background: url("/assets/img/register/image.png") no-repeat center center;
  background-size: contain;
  width: 20%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
  z-index: 100;
}

.image-pseudo {
  z-index: -2;
}

.inputs::placeholder,
.label-auth {
  color: rgba(25, 167, 206, 0.4) !important;
}

.icon-wrapper .link-text:hover svg {
  transform: scale(1.1); /* Mengubah skala ikon saat dihover */
  animation: bounce 0.5s ease infinite alternate; /* Animasi memantul */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
